<h1>Users Management</h1>
<div>
  <br>
  <form #f = "ngForm">
    <label style="font-weight: bold">Username</label>
    <input type="text" name="username" [(ngModel)] = "selectedUser.username">
    <br>
    <label style="font-weight: bold">Email</label>
    <input type="text" name="email" [(ngModel)] = "selectedUser.email">
    <br>
    <label style="font-weight: bold">Password</label>
    <input type="password" name="password" [(ngModel)] = "selectedUser.password">

    <label style="font-weight: bold">Nome</label>
    <input type="text" name="nome" [(ngModel)] = "selectedUser.nome">
    <br>
    <label style="font-weight: bold">Cognome</label>
    <input type="text" name="cognome" [(ngModel)] = "selectedUser.cognome">
    <br>
    <br>
    <label style="font-weight: bold">Status</label>
    <input type="text" name="status" [(ngModel)] = "selectedUser.status">
    <br>
    <input type="text" name="logged" [(ngModel)] = "selectedUser.logged" hidden="true">

    <br>
    <input type="button" (click)="updateUser(f)" routerLink="/users/:id" value="Update User">
    <input type="button" (click)="deleteUser()" routerLink="/home" value="Delete User">
  </form>
