<div id="out">
	<div  class="center jumbotron" >
		
		<h1 align="center" style="font-weight: bold; color: dodgerblue; text-align: center; text-shadow: 2px 0 0 red, -2px 0 0 red, 0 2px 0 red, 0 -2px 0 red, 1px 1px red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red;">AngulARAISE</h1>
		

		<p style ="line-height: 1.8">  

			<img src="../../assets/images/home_angularaise.jpg" class="responsive" style="display: block; display:inline; margin: 0px auto; width: 1050px; height: 600px; cursor: pointer">
			<br>

			Benvenuti nella nostra applicazione Rails!  <br>
			Iscriviti subito, scegli il tuo clan e il tuo equipaggiamento
			e preparati per combattere contro gli altri giocatori!!<br> Per saperne di più
			visita la pagina del <a href="#" routerLink="/regolamento">Regolamento</a> dove potrai trovare informazioni dettagliate
			sulle regole del gioco oppure la pagina dei <a href="#" routerLink="/regolamento">Regolamento</a> dove possiamo trovare informazioni sui Clan. 
		</p> <br>
	
		<br><br><br><br>


		<a class="nav-link " href="#" routerLink="/users/new" style="text-align:center;" > Registration </a>

	</div>
</div>	
<div id="in">
	<div  class="center jumbotron" >
		
		<h1 align="center" style="font-weight: bold; color: dodgerblue; text-align: center; text-shadow: 2px 0 0 red, -2px 0 0 red, 0 2px 0 red, 0 -2px 0 red, 1px 1px red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red;">AngulARAISE</h1>
		

		<p style ="line-height: 1.8">  

			<img src="../../assets/images/home_angularaise.jpg" class="responsive" style="display: block; display:inline; margin: 0px auto; width: 1050px; height: 600px; cursor: pointer">
			<br>

			Benvenuti nella nostra applicazione Rails!  <br>
			Iscriviti subito, scegli il tuo clan e il tuo equipaggiamento
			e preparati per combattere contro gli altri giocatori!!<br> Per saperne di più
			visita la pagina del <a href="#" routerLink="/regolamento">Regolamento</a> dove potrai trovare informazioni dettagliate
			sulle regole del gioco oppure la pagina dei <a href="#" routerLink="/regolamento">Regolamento</a> dove possiamo trovare informazioni sui Clan. 
		</p> <br>
		
	</div>
</div>	