<h1>War-Rails</h1>

<div  class="center jumbotron">


<p>    Benvenuti nella nostra applicazione Rails!  <br>
    Iscriviti subito, scegli il tuo clan e il tuo equipaggiamento
    e preparati per combattere contro gli altri giocatori!!<br> Per saperne di più
    visita la pagina del <a href="#" routerLink="/regolamento">Regolamento</a> dove potrai trovare informazioni dettagliate
    sulle regole del gioco oppure la pagina dei <a href="#" routerLink="/regolamento">Regolamento</a> dove possiamo trovare informazioni sui Clan. </p> <br>
  
  	<br><br><br><br>


	<a class="nav-link " href="#" routerLink="/users/new" style="text-align:center;" > Registration </a>

</div>
 