<div>
  <br>
  <h1>Classifica generale</h1>
  <br><br>
  <table border='1' width='100%' style='border-collapse: collapse; background-color: rgb(175, 175, 2);'>
    <tr>
      <th><h4>Username</h4></th>
      <th><h4>Clan</h4></th>
      <th><h4>Vittorie</h4></th>
      <th><h4>Sconfitte</h4></th>  
      <th><h4>Ratio</h4></th>  

    </tr>

    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.clan }}</td>
      <td>{{ user.win }}</td>
      <td>{{ user.lost }}</td>
      <td>{{ user.win }}/ {{user.lost}}</td>
    </tr>
  </table>
</div>