<div>
  <br>
  <h1>Classifica generale</h1>
  <br><br>
  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>Username</th>
      <th>Clan</th>
      <th>Vittorie</th>
      <th>Sconfitte</th>  
      <th>Ratio</th>  

    </tr>

    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.clan }}</td>
      <td>{{ user.win }}</td>
      <td>{{ user.lost }}</td>
      <td>{{ user.win }}/ {{user.lost}}</td>
    </tr>
  </table>
</div>