<div id = "visitatore">
<div class="center jumbotron" >
	<h1 align="center" style="font-weight: bold;">InfoClan</h1>
	<br><br>

	<p>

	Durante la registrazione sarà possibile scegliere il clan di appartenenza, che non sarà più modificabile.
	<br>
	I clan selezionabili sono i Guerrieri, gli Elfi e gli Orchi. <br>

	Una volta selezionato il clan si dovrà scegliere l' immagine del profilo di gioco tra quelle disponibili.

	<br>
	<br>
	Guerriero &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<img src="../../assets/images/guerriero1.jpeg" style="display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer">
	<img src="../../assets/images/guerriero2.jpeg" style="display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer">
	<img src="../../assets/images/guerriero3.jpg" style="display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer">



	<br>

	<br>
	Elfo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<img src="../../assets/images/elfo1.jpeg" style="display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer">
	<img src="../../assets/images/elfo2.jpeg" style="display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer">
	<img src="../../assets/images/elfo3.jpeg" style="display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer">

	<br>

	<br>

	Orco &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<img src="../../assets/images/orco1.jpeg" style="display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer">
	<img src="../../assets/images/orco2.jpg" style="display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer">
	<img src="../../assets/images/orco3.jpeg" style="display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer">

	<br>

	<br>

	<br>

	Le caratteristiche iniziali di un Utente appena registrato sono:<br> <b>Livello:</b> 1 ,  <b>Attacco:</b> 5, <b>Difesa:</b> 5 , <b>Attacco Speciale:</b> 1, <b>Difesa Speciale:</b> 1

	<br>
	<br>
	<br>
	<div>
		<a  class="nav-link" href="#" style="font-size:24px; text-align:center;" routerLink="/users/new">  Registration</a>
	</div>
</div>
</div>

<div id="guerriero">
<div class="center jumbotron" >
<h1 align="center">Info Clan Guerrieri</h1>
    <div class = "main">
      <div class = "content">
		<img src="../../assets/images/guerriero.jpeg" style="display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer">
<br><br>

		
<dd style="float:left;"><b>Livello: </b>1</dd><br><br><br>

<dd style="float:left;"><b>Attacco: </b>&nbsp;&nbsp;5 &nbsp;&nbsp;&nbsp;&nbsp; </dd> 

<dd> <b>Attacco Speciale:</b>&nbsp;&nbsp;5</dd><br><br>

<dd style="float:left;"><b>Difesa: </b>&nbsp;&nbsp;5 &nbsp;&nbsp;&nbsp;&nbsp; </dd> 

<dd> <b>Difesa Speciale:</b>&nbsp;&nbsp;5</dd><br><br>

<!-- <%
    vitt = 0
    scon = 0
    @users = User.all.order(created_at: :desc)
    @users.each do |user|
    if user.clan == 1
        vitt = vitt + user.vittorie
        scon = scon + user.sconfitte
    end
    end %> -->
        <dl>
        <dd>  <b> Status Clan:</b>&nbsp;&nbsp;&nbsp;&nbsp;<b> Benvenuti nel clan dei guerrieri. Parole chiavi onere e lealtà.</b>
                            &nbsp;&nbsp;
          </dd>
        <br>
		<dd>  <b> Membri: </b> &nbsp;&nbsp;&nbsp;&nbsp; 
			<table>
				<tr>
					<th>Username</th>
					<th>Clan</th>
					<th>Vittorie</th>
					<th>Sconfitte</th>  
					<th>Ratio</th>  
				</tr>
				<tr *ngFor="let user of users">
				<td>{{ user.username }}</td>
				<td>{{ user.clan }}</td>
				<td>{{ user.win }}</td>
				<td>{{ user.lost }}</td>
				<td>{{ user.win }}/ {{user.lost}}</td>
			  </tr>
			</table></dd>
        <dd> <b>Vittorie Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; 5</dd>
          <dd><b>Sconfitte Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; 6</dd>
          <br><br>
          <dd><b>Caratteristiche Iniziali</b> &nbsp;&nbsp;&nbsp;&nbsp; </dd>
          <dd><b>Attacco:</b> &nbsp;&nbsp;&nbsp;&nbsp;5</dd>
          <dd><b>Difesa:</b> &nbsp;&nbsp;&nbsp;&nbsp;5</dd>
          <dd><b>Attacco Speciale: </b> &nbsp;&nbsp;&nbsp;&nbsp; 1</dd>
          <dd><b>Difesa Speciale:</b> &nbsp;&nbsp;&nbsp;&nbsp; 1</dd>
        </dl>
      </div>
      <div >
        <iframe src="https://it.wikipedia.org/wiki/Guerriero_(Dungeons_%26_Dragons)" width="800" height="800">
        </iframe>
      </div>
  </div>
</div>
</div>

<div id="elfo">
		<div class="center jumbotron" >
		<h1 align="center">Info Clan Elfi</h1>
		<br><br>
			<div class = "main row">
			  <div class = "content col-sm-5">
				<img src="../../assets/images/elfo.jpeg" style="display: block; display:inline; margin: 0px auto; width: 250px; height: 250px; cursor: pointer">
		<br><br>
		<dd style="float:left;"><b>Livello: </b>1</dd><br><br><br>
		<dd style="float:left;"><b>Attacco: </b>&nbsp;&nbsp;5 &nbsp;&nbsp;&nbsp;&nbsp; </dd> 
		<dd> <b>Attacco Speciale:</b>&nbsp;&nbsp;5</dd><br><br>
		<dd style="float:left;"><b>Difesa: </b>&nbsp;&nbsp;5 &nbsp;&nbsp;&nbsp;&nbsp; </dd> 
		<dd> <b>Difesa Speciale:</b>&nbsp;&nbsp;5</dd><br><br>

		</div>
		<div class="col-sm-7">
		<dl>
		<dd>  <b> Status Clan:</b>&nbsp;&nbsp;&nbsp;&nbsp;<b> Benvenuti nel clan degli elfi. Parole chiavi eleganza e finezza.</b>
							&nbsp;&nbsp;
			</dd>
		<br>
		<dd>  <b> Membri: </b> &nbsp;&nbsp;&nbsp;&nbsp; 
			<table>
				<tr>
					<th>Username</th>
					<th>Clan</th>
					<th>Vittorie</th>
					<th>Sconfitte</th>  
					<th>Ratio</th>  
				</tr>
				<tr *ngFor="let user of users">
				<td>{{ user.username }}</td>
				<td>{{ user.clan }}</td>
				<td>{{ user.win }}</td>
				<td>{{ user.lost }}</td>
				<td>{{ user.win }}/ {{user.lost}}</td>
				</tr>
			</table></dd>
		<dd> <b>Vittorie Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; 5</dd>
			<dd><b>Sconfitte Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; 6</dd>
			<br><br>
			<dd><b>Caratteristiche Iniziali</b> &nbsp;&nbsp;&nbsp;&nbsp; </dd>
			<dd><b>Attacco:</b> &nbsp;&nbsp;&nbsp;&nbsp;5</dd>
			<dd><b>Difesa:</b> &nbsp;&nbsp;&nbsp;&nbsp;5</dd>
			<dd><b>Attacco Speciale: </b> &nbsp;&nbsp;&nbsp;&nbsp; 1</dd>
			<dd><b>Difesa Speciale:</b> &nbsp;&nbsp;&nbsp;&nbsp; 1</dd>
		</dl>
	</div>

		<div >
		<iframe src="https://it.wikipedia.org/wiki/Elfo" width="800" height="800">
		</iframe>
		</div>
	</div>
</div>
</div>


<div id="orco">
	<div class="center jumbotron " >
	<h1 align="center">Info Clan Orchi</h1>
	<br><br>
		<div class = "main row">
			<div class = "content col-sm 5">
			<img src="../../assets/images/orco.jpg" style="display: block; display:inline; margin: 0px auto; width: 250px; height: 245px; cursor: pointer">
			<br><br>
			<dd style="float:left;"><b>Livello: </b>1</dd><br><br><br>
			<dd style="float:left;"><b>Attacco: </b>&nbsp;&nbsp;5 &nbsp;&nbsp;&nbsp;&nbsp; </dd> 
			<dd> <b>Attacco Speciale:</b>&nbsp;&nbsp;5</dd><br><br>
			<dd style="float:left;"><b>Difesa: </b>&nbsp;&nbsp;5 &nbsp;&nbsp;&nbsp;&nbsp; </dd> 
			<dd> <b>Difesa Speciale:</b>&nbsp;&nbsp;5</dd><br><br>
		</div>
		<div class = "content col-sm 5">
			<dl>
			<dd>  <b> Status Clan:</b>&nbsp;&nbsp;&nbsp;&nbsp;<b> Benvenuti nel clan degli orchi. Unica parola chiave: distruggere.</b>
								&nbsp;&nbsp;
				</dd>
			<br>
			<dd>  <b> Membri: </b> &nbsp;&nbsp;&nbsp;&nbsp; 
				<table>
					<tr>
						<th>Username</th>
						<th>Clan</th>
						<th>Vittorie</th>
						<th>Sconfitte</th>  
						<th>Ratio</th>  
					</tr>
					<tr *ngFor="let user of users">
					<td>{{ user.username }}</td>
					<td>{{ user.clan }}</td>
					<td>{{ user.win }}</td>
					<td>{{ user.lost }}</td>
					<td>{{ user.win }}/ {{user.lost}}</td>
					</tr>
				</table></dd>
			<dd> <b>Vittorie Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; 5</dd>
				<dd><b>Sconfitte Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; 6</dd>
				<br><br>
				<dd><b>Caratteristiche Iniziali</b> &nbsp;&nbsp;&nbsp;&nbsp; </dd>
				<dd><b>Attacco:</b> &nbsp;&nbsp;&nbsp;&nbsp;5</dd>
				<dd><b>Difesa:</b> &nbsp;&nbsp;&nbsp;&nbsp;5</dd>
				<dd><b>Attacco Speciale: </b> &nbsp;&nbsp;&nbsp;&nbsp; 1</dd>
				<dd><b>Difesa Speciale:</b> &nbsp;&nbsp;&nbsp;&nbsp; 1</dd>
			</dl>
		</div>
			<div >
			<iframe src="https://it.wikipedia.org/wiki/Orco_(fantasy)" class="responsive">
			</iframe>
			</div>
		</div>
	</div>
</div>