//form

  input, textarea, select, .uneditable-input {
border: 0px solid #bbb;
border: 0px solid #323232;
width: 100%;
height: 100%;
margin-bottom: 15px;
line-height: 28px;
@include box_sizing;
}


h3{
    margin-bottom: 0px;
    display:inline;}

input {
height: auto !important;
}


dd{

font-size: 1.4em;
padding-bottom: 5px;

}

dt{

font-size: 1.4em;

}

#content img{
padding-right: 2em;
float:left;

}


