<div class="center jumbotron">
<div class="row">


    <div class="col-md-3">

    </div>

    <div class="col-md-6">

        <h1 style="font-weight: bold;"> Log In </h1>

        <form #f ="ngForm">
          <input type="hidden" name="id"  [(ngModel)]="user.id">
          <div class="form-group">
            <label for="email">Email</label>
            <input  [(ngModel)]="user.email"  class="form-control" type="email" name="email" id="email">
          </div>
          <div class="form-group">
            <label for="clan">Clan ---> Password</label>
            <input  [(ngModel)]="user.clan"  class="form-control" name="clan" id="clan">
          </div>
          <div class="form-group form-footer">
            <button class="btn btn-success" (click)="saveUser()"> Enter</button>
          </div>
        </form>

    </div>

    <div class="col-md-3">

    </div>

</div>
</div>